<section class="container p-5">
  <h1 class="display-3">Hackathon</h1>
  <p>March 9 2023</p>
  <hr />
  <div class="row">
    <div class="col-8">
      <div id="image-placeholder">
        <h4>Contest Image Here</h4>
      </div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum alias
        animi doloribus consequuntur beatae quam delectus, incidunt temporibus,
        omnis cumque nostrum sunt minus cum ea praesentium ad asperiores, veniam
        cupiditate molestias minima autem aspernatur natus! Voluptas animi
        obcaecati ipsam commodi recusandae ipsa quos incidunt! Natus
        exercitationem minus totam illo animi officia temporibus possimus, fugit
        blanditiis dolore eligendi quae non explicabo nulla rem ut, quam, iusto
        repellat repudiandae ad. Itaque totam culpa consequuntur saepe corrupti
        atque eveniet eius ratione quo beatae dolorum, ad nisi ipsum, tempora
        voluptatibus recusandae rem enim voluptatem fugiat at? Quia quidem
        quisquam hic sint illum, itaque nulla.
      </p>
    </div>
    <div class="col-4">
      <div>
        <h3>Venue</h3>
        <p>{{ venue }}</p>
      </div>
      <div>
        <h3>Coordinater</h3>
        <p>Kushal Kanungo</p>
      </div>
    </div>
  </div>
</section>
