<div class="row">
  <div class="col-6">
    <h1 class="display-1">JECRC</h1>
    <h2>FOUNDATION</h2>
    <img src="../../assets/img/login.png" alt="" />
  </div>
  <div class="col-6">
    <form action="">
      <div id="heading" class="">Login</div>
      <div>
        <i class="bi bi-person-fill-check"></i>
        <input type="text" placeholder="College Email" />
      </div>
      <div>
        <i class="bi bi-three-dots"></i>
        <input type="password" placeholder="Password" name="" id="" />
      </div>
      <button type="button" (click)="loginButtonHandeler()">Login</button>
    </form>
  </div>
</div>
